@font-face {
  font-family: "SuperMario";
  src: url("../fontes/SuperMario.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SuperMario", "Press Start 2P", cursive;
}
